@import '../../../../assets/scss/vars';

.code {
  margin-bottom: 1rem;
}

.desc {
  margin-bottom: 1rem;
}

.team {

  p {
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  img {
    width: 109px;
    height: 34px;
  }

  & > div {
    display: flex;
    align-items: center;
    //justify-content: center;

    a {
      margin-left: 2rem;
      line-height: calc(3rem - 10px);

      svg {
        position: relative;
        bottom: -1px;
        margin-left: .5rem;
      }
    }
  }
}

.bottom {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid $grey-bg;
}