@import '../../../../assets/scss/vars';

.wrapper {
  border: 1px solid $grey-bg;
  border-radius: $box-shadow-md;
  padding: 1.5rem;
}

.desc {
}

.person {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 300px;
  margin: 0 auto 1.5rem;
}