@import '../../../assets/scss/vars';

.wrapper {
  background: linear-gradient(to right, rgba($accent, .1), rgba($accent, .4) );
  padding-top: 0;
  padding-bottom: 0;
  //border-top: 1px solid rgba($accent, .2);
  //border-bottom: 1px solid rgba($accent, .2);

  .headline {
    margin-bottom: 3rem;
  }
}

.imgWrapper {
  height: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(rgba(#fff, .5) 5px, transparent 2px);
  background-size: calc(10 * 2px) calc(10 * 2px);
}



@media (max-width: $lg-breakpoint) {

}


@media (max-width: $md-breakpoint) {


}