@import '../../../assets/scss/vars';

.info {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

  svg {
    min-width: 4rem;
    width: 4rem;
    padding: 0;
    line-height: 1;
    margin: 0 2rem;
    height: auto;
    font-size: 8rem;

    path {
      stroke: $accent;
    }
  }

  div {
    border-left: 1px solid $accent;
    padding-left: 1.5rem;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}