@import '../../../assets/scss/vars';

.wrapper {

}

.header {
  position: relative;
  margin-bottom: 2rem;

  .title {
    margin-bottom: .8rem;
  }

  p {
    margin-bottom: .3rem;
  }
}

.box {
  margin-bottom: 2rem;

  &_title {
    color: $grey;
    text-transform: uppercase;
    margin: 0 0 .5rem;
  }

  &_content {
    background-color: #fff;
    border-radius: $border-radius-sm;
    box-shadow: $box-shadow-sm;
    padding: 2rem 2rem 1rem;

    &.salary {
      background-color: $accent;
    }
    &.teamconstructor {
      background-color: #33363F;
    }
    &.thegreatbase {
      background-color: #F96332;
    }
  }

  .item {
    margin-bottom: 1rem;
  }

  &.account {

    .item {
      width: 50%;
    }

    .label {
      color: rgba($grey, .6);
      padding-left: .5rem;
    }

    .field {
      font-family: $title-font;
      height: 2.25rem;
      line-height: 2rem;
      padding: 0 .5rem;

    }
  }

  &.services {

    .box_content {
      padding-top: 1rem;
      margin-bottom: 1rem;
    }

    .title {
      font-weight: 700;
      font-size: 1.25rem;
      color: #fff;
    }
  }
}

.top {
  display: flex;
  justify-content: space-between;
}

.rate {
  color: #fff;
}

.list {

}


@media (max-width: 768px) {

}