@import '../../../../assets/scss/vars';

.wrapper {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
  border-radius: $border-radius-md;
  //margin-bottom: 80px;
  background-color: $grey-bg;
}

.content {
  width: auto;
}

.desc {
  font-size: 1.25rem;
  max-width: 500px;
  margin-bottom: 2rem;
}

.img {

}


@media (max-width: 992px) {

  .wrapper {
    padding: 2rem 1rem;
    margin-bottom: 2rem;

    button {
      width: 100%;
    }
  }

  .desc {
    font-size: 1.25rem;
  }
}

@media (max-width: 600px) {

  .wrapper {
    padding: 2rem 0;
    margin-bottom: 0;
  }

  .content {
    width: 100%;
  }
}