@import './../../../assets/scss/_vars.scss';

.wrapper {
  position: relative;
}

.dropzone {
  position:relative;
  border: 2px dashed rgba($grey, .6);
  border-radius: 5px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 45px;

  &:focus {
    border-color: blue;
  }

  p {
    margin-bottom: 15px;
    color: #666;
    flex-grow: 1;
    font-size: 20px;
    line-height: 1.2;

    &:nth-of-type(2) {
      font-size: 16px;
    }
  }

  & > button {
    //margin-right: 25px;
    min-width: 160px !important;
  }

  .uploadIcon {
    color: rgba($grey, .4);
    font-size: 80px;
    margin-right: 40px;
  }

  .formats {
    font-size: 13px;
    color: #666;
    margin-bottom: 0;
  }
}

.browse {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  border-bottom: 1px solid $accent;
  line-height: 1;
  transition: all .2s;
  margin-bottom: 20px;

  &:hover {
    color: darken($accent, 10%)
  }
}

.file {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.fileSize {
  position: relative;
  bottom: -2px;
  font-weight: 700;
  font-size: 20px;
  margin-right: 15px;
  white-space: nowrap;
}

.fileIcon {
  font-size: 40px;
  color: #666;
  margin-right: 15px;

  &.word {
    color: #295395;
  }
  &.pdf {
    color: #B60909;
  }
  &.image {
    color: #E6D739;
  }
}

.fileName {
  font-size: 20px;
  padding-right: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}




@media(max-width: 600px) {

  .dropzone {
    padding: 15px;

    .uploadIcon {
      font-size: 50px;
      margin-right: 20px;
    }
  }

  .wrapper {
    margin-bottom: 20px;

    & > button {
      width: 100%;
    }
  }
}

