@import '../../../assets/scss/vars';

.wrapper {
  display: flex;
  //background-color: $grey-bg;
  //font-family: $title-font;
  //word-wrap: break-word;
  //padding: 15px;
  //font-size: 14px;
  //border-radius: $border-radius-sm;
}

.enc {
  position: relative;
  display: inline-block;
  padding: .5rem 1rem;
  border-radius: $border-radius-lg;
  background-color: $grey-bg;
  font-size: 75%;
  width: 100%;
  border: 0;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2.3rem;
  margin-right: .5rem;

  span {
    width: 100%;
    font-family: monospace;
  }
}

.btn {
  width: 2.3rem;
  height: 2.3rem;
  font-size: 1.5rem;
  color: $grey;
  border-radius: $border-radius-lg;
  background-color: $grey-bg;
  border: 0;
  cursor: pointer;
  transition: .2s;

  svg {
    position: relative;
    bottom: -.25rem;
  }

  &:hover {
    background-color: darken($grey-bg, 5%);
  }

  &.success {
    color: $success;
    border-color: rgba($success, .5) !important;
  }
}


@media(max-width: 992px) {


}