@import './../../../assets/scss/_vars.scss';

.wrapper {
  min-height: calc(100vh - 354px);
}

.profile {
  background-color: #fff;
  border-radius: 5px;
}

.topline {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 25px 40px 20px;
  border-bottom: 1px solid rgba($grey, .2);
  font-size: 20px;

  svg {
    position: relative;
    top: 5px;
    font-size: 25px;
  }
}

.content {
  padding: 25px 40px 35px;
}

.list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 20px;
}

.item {
  display: flex;
  padding: 12px 0;
  border-bottom: 1px solid rgba($grey, .2);

  span, a {
    font-size: 20px;
  }

  &:last-of-type {
    border-bottom: 0
  }
}

.position {

  &:first-letter {
    text-transform: uppercase;
  }
}

.resultsLink {
  //color: $grey;
  text-decoration: underline;
  //padding-top: 20px;

  svg {
    margin-right: 10px;
  }
}

.itemTitle {
  width: 20%;
  //min-width: 90px;
  min-width: 150px;
  color: $grey
}

.itemVal {
  //font-weight: 700;
}

.btnWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.testLinks {

  a {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
  }

  &.ellipsis {
    overflow-x: hidden;
    a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}


@media (max-width: 768px) {
  .topline {
    padding: 20px 15px 20px;
    font-size: 17px;

    svg {
      display: none;
    }
  }

  .content {
    padding: 10px 15px 15px;
  }

  .item {

    span, a {
      font-size: 16px;
    }
  }
}