@import '../../../assets/scss/vars';

.wrapper {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    display: block;
    width: 500px;
    height: 234px;
    background-image: radial-gradient(rgba($grey, .2) 5px, transparent 2px);
    background-size: calc(10 * 2px) calc(10 * 2px);
    bottom: 100px;
    left: 0;
    z-index: -1;
  }

  h2 {
    text-align: right;
  }
}

.image {
  position: relative;
  margin-left: -70px;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {

  .wrapper {
    &:before {
      display: none;
    }
  }

  .image {
    margin-left: 0;
  }
}