.logo {

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  img {
    max-height: 30px;
    margin-right: 10px;
  }

  span {
    color: #203152;
    font-size: 1.5rem;
  }
}

@media(max-width: 992px) {

  .logo {

    img {
      max-height: 25px;
    }
  }
}