@import '../../../assets/scss/vars';

.item {
  padding: 15px 20px;
  display: flex;
  background: #fff;
  border-radius: 3px;
  list-style: none;
  margin-bottom: 10px;
  transition: all .3s;
  overflow: hidden;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 0 2px 4px rgba(#000, .1);
  }
}

.content {
  padding-left: 20px;
  width: 100%;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba($grey, .2);
  margin-bottom: 10px;

  .city,
  .country {
    font-size: 22px;
    line-height: 1;
  }

  .city {
    text-transform: capitalize;
    font-weight: 700;
  }

  .country {
    text-transform: uppercase;
  }
}

.flag {
  box-shadow: 0 1px 3px rgba(#000, .4);
  width: 30px;
  height: auto;
  border-radius: 2px;
  margin-bottom: 5px;
}

.img {
  width: 120px;
  min-width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 3px;
}

.valuesList {

}

.valuesItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 11px auto;
  max-width: 390px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.num {
  font-size: 22px;
  text-align: right;
  line-height: 1;
  display: flex;
  align-items: center;
  flex-grow: 1;
  width: 100%;

  .desc {
    font-family: $title-font;
    font-size: 20px;
    text-transform: uppercase;
    color: $grey;
    margin-left: 10px;
    margin-right: 10px;
    text-align: right;
    display: inline-block;
    min-width: 50px;
    width: 100%;
    line-height: 1;
  }
}

.value {
  font-weight: 700;
  margin-left: 5px;
}

.addition {
  text-align: right;
  font-size: 16px;
  line-height: 1;
}

@media(max-width: 992px) {

  .item {
    padding: 10px 15px 15px;
    //margin-bottom: 10px;
  }

  .content {
    padding-left: 0;
  }

  .top {
    padding-bottom: 5px;
    margin-bottom: 10px;

    .city,
    .country {
      font-size: 18px;
    }
  }

  .flag {
    font-size: 18px;
  }

  .num {
    font-size: 18px;
    margin-bottom: 0;
    min-width: 140px;
    flex-grow: 1;
    text-align: left;

    .desc {
      font-size: 16px;
      min-width: 36px;
    }
  }

  .valuesList {
    width: 100%;
  }

  .valuesItem {
    margin-bottom: 12px;
  }

  .addition {
    text-align: left;
    line-height: 1;

    a {
      font-size: 16px;
    }

    svg {
      margin-left: 10px;
      font-size: 14px;
    }
  }

}