@import '../../../assets/scss/vars';

.hero {
  position: relative;
  padding-bottom: 40px;

  &:after {
    position: absolute;
    content: '';
    display: block;
    width: 500px;
    height: 234px;
    background-image: radial-gradient(rgba($grey, .2) 5px, transparent 2px);
    background-size: calc(10 * 2px) calc(10 * 2px);
    top: 200px;
    right: 0;
    z-index: -1;
  }
}

.title {
  margin-bottom: 40px;
}

//.subtitle {
//  font-size: 20px;
//  margin-bottom: 40px;
//}

.dropzone {
  max-width: 500px
}

.robots {
  display: flex;
}