@import '../../../assets/scss/vars';

.wrapper {
  //background-color: rgba($accent, .1);

  h3 {
    margin-bottom: 2rem;
  }
}

.images {
  //position: relative;
  //height: 555px;
  //max-width: 615px;
}

.image {
  //position: absolute;
  border-radius: $border-radius-md;
  box-shadow: $box-shadow-md;
}

.list {
  list-style: none;
}

.item {
  padding-left: 1.5rem;
  position: relative;
  margin-bottom: 1rem;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    display: block;
    border-radius: 2px;
    width: 10px;
    height: 10px;
    background-color: $red;
  }
}

@media (max-width: $xl-breakpoint) {

}